version: "3.8"

services:
  auth-service:
    build:
      context: ./auth-service
    container_name: auth-service
    ports:
      - "5001:5001"
    command: uvicorn app.main:app --reload --host 0.0.0.0 --port 5001
    volumes:
      - ./auth-service:/usr/src/app
    env_file: .env
    environment:
      - DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      - DB_DSN=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      - DB_HOST=db
      - DB_PORT=5432
      - REDIS_HOST=redis
      - RUN_MIGRATIONS=1
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy

  chat-service:
    build:
      context: ./chat-service
    container_name: chat-service
    ports:
      - "5002:5002"
    command: uvicorn app.main:app --reload --host 0.0.0.0 --port 5002
    volumes:
      - ./chat-service:/usr/src/app
    env_file: .env
    environment:
      - DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      - DB_DSN=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      - DB_HOST=db
      - DB_PORT=5432
      - REDIS_HOST=redis
      - RUN_MIGRATIONS=1
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy

  db:
    image: postgres:15-alpine
    container_name: postgres_db
    restart: unless-stopped
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file: .env
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB} -h 127.0.0.1"]
      interval: 2s
      timeout: 3s
      retries: 30

  redis:
    image: redis:7-alpine
    container_name: redis_cache
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 2s
      timeout: 3s
      retries: 30

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      db:
        condition: service_healthy

  redisinsight:
    image: redislabs/redisinsight:latest
    # tip: new repo is redis/redisinsight:latest
    container_name: redisinsight
    restart: unless-stopped
    ports:
      - "8001:8001"
    volumes:
      - redisinsight_data:/db
    depends_on:
      redis:
        condition: service_healthy

volumes:
  postgres_data:
  redis_data:
  redisinsight_data: